yfinance
pandas
numpy
requests
multitasking
platformdirs
pytz
frozendict
peewee
beautifulsoup4
curl_cffi
protobuf
websockets
python-dateutil
tzdata
charset-normalizer
idna
urllib3
certifi
soupsieve
typing-extensions
cffi
pycparser
six
gunicorn